* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

nav {
  position: absolute;
  width: 100%;
  padding: 20px 0px;
  padding-top: 0px;
}

.top-nav {
  border-bottom: 1px solid #DBDFEC;
}

nav .row {
  align-items: center;
}

.top-nav {
  padding: 11px 0px;
  margin-bottom: 15px;
}

.top-email {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.topright_nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

.topright_nav ul {
  margin-bottom: 0px;
}

.topright_nav ul {
  display: flex;
  gap: 30px;
  justify-content: end;

  li {
    list-style: none;

    a {
      color: white;
    }
  }
}

.topnav-call {
  color: white;
  border-left: 1px solid #FFFFFF;
  padding-left: 30px;

  i {
    margin-right: 10px;
  }
}

.nav-content {
  justify-content: end;
  margin: 0px;
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;

  li {
    color: white;
  }
}

li.en-btn {
  background: #BEA55A;
  color: white;
  padding: 7px 17px;
  display: block;
  border-radius: 5px;
}

.hero-section {
  background-image: url("/img/banner.png");
  padding: 100px 0px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
}

.hero-section {
  .row {
    justify-content: center;
  }


}

.hero-content h1 {
  color: white;
  text-align: center;
  font-family: 'Italiana', serif;
  font-size: 64px;
}

.hero-content p {
  color: white;
  text-align: center;
  padding: 0px 70px;
}

.fiter {
  margin-top: -138px;

  .tab-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .nav {
    gap: 10px;
    border: none;
    background: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 48px;
    margin: auto;
    width: fit-content;
  }

  button {
    border: none;
    color: white;
    height: 45px;
    width: 220px;
    background: #303030;
    border-radius: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  button.active {
    background: #BEA55A;
    border: none;
    color: white;
    width: 220px;
    height: 45px;
  }

  .search .city {
    width: 14%;

  }

  .form-select:focus {
    box-shadow: none;
  }

  .search {
    .serach-p {
      width: 30%;

    }

    .form-control:focus {
      box-shadow: none;
    }
  }

  .form-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .Property {

    width: 26%;
  }

  select {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  input {
    padding-top: 10px !important;
    padding-bottom: 10px !important;

  }

  .submit-btn {
    background: #303030;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
  }
}


.section-latest {
  padding: 60px 0px;
}

.card-property {
  width: 100%;
  padding: 13px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  background-color: white;
}

.img-pr {
  width: 100%;
  position: relative;

  p {
    position: absolute;
    bottom: 0px;
    left: 13px;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.list-a {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  padding: 0px;
  border-bottom: 1px solid #d6d6d6;
}

.pr-content {
  button {
    background: #303030;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
}

.list-a ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0px;
}

.pr-content span {
  color: #BEA55A;
  font-weight: bold;
  display: block;
  font-size: 20px;
}

.pr-content {
  padding-top: 20px;
}

.img-pr>img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 10px;
}

.slider--property {
  .swiper {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .next-btn,
  .prev-btn {
    background: #303030;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    border-radius: 5px;
    cursor: pointer;
  }

  .prev-btn {}

  .por-sw {
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-top: -82px;
  }

  .swiper-button-disabled {
    opacity: 0.5;
  }
}

.Brandedproperty {
  padding: 60px 0px;
  background-color: #f5f5f5;
}

.latest-h h2 {
  font-size: 42px;

}

.Branded-h {
  position: relative;
}

.Branded-h h2 {
  font-size: 75px;

  span {
    color: #BEA55A;
  }
}

.Branded-h p {
  font-size: 18px;
  margin-top: 30px;
  color: grey;
  margin-bottom: 30px;
}

.v-properties-btn {
  background: #303030;
  color: white;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  display: block;
  /* margin-left: auto; */
  margin-top: 20px;
  display: flex;
  gap: 10px;
  width: fit-content;
  text-decoration: none;
}

.slider--branded {
  position: relative;

  .swiper {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .next-btn,
  .prev-btn {
    background: #303030;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    border-radius: 5px;
    cursor: pointer;
  }

  .next-btn {
    position: absolute;
    top: 30%;
    right: -16px;
    z-index: 11;
  }

  .prev-btn {
    position: absolute;
    top: 30%;
    left: -16px;
    z-index: 11;
  }

  .prev-btn {}

  .por-sw {
    display: flex;
    gap: 10px;
    justify-content: end;
    /* margin-top: -82px; */
  }

  .swiper-button-disabled {
    opacity: 0.5;
  }
}

.Branded-h {
  padding-top: 17px;
}

/* propertice_section */
.propertice_section {
  padding: 60px 0px;
}

.propertice-row {
  justify-content: center;
}

.propertice-col {
  text-align: center;

  h2 {
    font-size: 42px;
    /* font-weight: 600; */
  }

  p {
    color: #889099;
    font-size: 16px;
  }
}

.propertice-box {
  height: 241px;
  position: relative;

}

.propertice-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.innerpropertice {
  position: absolute;
  padding: 20px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white !important;
}

.propertice-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  left: 0px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(59, 77, 129, 0.7) -12.86%, rgba(59, 77, 129, 0) 106.85%);

}

.inner-por {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%;
}

.innerp h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}

.view-detailbtn {
  border: 1px solid white;
  background: none;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s all;
  margin-top: 50px;
}

.innerpropertice:hover .view-detailbtn {
  opacity: 1;
  margin-top: 0px;
}

.innerp p {
  margin-bottom: 0px;

  i {
    font-size: 20px;
  }
}

.row-propertires-i {
  row-gap: 20px;
  margin-top: 30px;
}

a {
  text-decoration: none !important;
}

.propertice-col {
  margin-bottom: 20px;
}

location-filter {
  select {
    border: none;
    width: auto;
    color: #889099;
    /* padding-left: 0px; */
  }
}

.location-filter {
  display: flex;
  align-items: center;
}

.location-div {
  width: 25%;
}

.location_section {
  position: relative;
  z-index: 1;
  margin-top: -100px;
}

.location_section-row {
  justify-content: center;
}

.location_section-row #locationtab {
  justify-content: center;
  border: none;
  gap: 5px;
}

#locationtab {
  .nav-link {
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
  }

  .nav-link.active {
    color: #fff;
    background-color: #4A60A1;
  }
}

.location-filter {
  select {
    border: none;
    width: auto;
    color: #889099;
    /* padding-left: 0px; */
  }
}

#locationtabContent {
  background-color: white;
  padding: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  margin-top: 15px;
}

.location-div {
  border-right: 1px solid #CFD3D6;
  padding: 0px 20px;
}

.location-filter .location-div:last-child {
  border: none;
  text-align: center;
}

.location-div p {
  color: #303030;
  font-weight: 600;
  padding-left: 13px;
  font-size: 18px;
  margin: 0px;
}

.serach-locationbtn {
  background-color: #303030;
  transition: 0.5s all;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

.serach-locationbtn:hover {
  background-color: #BEA55A;
}

.nav-link.active {
  position: relative;
}

.nav-link.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -13px;
  width: 15px;
  height: 15px;
  background-color: #4A60A1;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(180deg);
  left: 37%;

}

.location_section {
  padding-bottom: 40px;
}

.footer {
  background: #303030;
  color: #cbd5e1;
  padding: 60px 0 0;
  font-size: 14px;
}

.footer-col h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
}

.footer-col p {
  line-height: 1.7;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 5px;
}

/* Social Icons */
.footer-social {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.footer-social a {
  width: 38px;
  height: 38px;
  background: #282828;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}

.footer-social a:hover {
  background: #BEA55A;
  transform: translateY(-4px);
}

/* Contact */
.footer-contact li {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Bottom */
.footer-bottom {
  background: #303030;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  color: #94a3b8;
  border-top: 1px solid #4d4d4d;
}

.footer-bottom p {
  margin-bottom: 0px;
}

.pr-content p {
  height: 50px;
}

.branded-ventor {
  width: 100%;
  position: absolute;
  /* top: 0px; */
  /* height: 100%; */
  object-fit: cover;
  opacity: 0.09;
  width: 548px;
  left: 0px;
  bottom: 0px;
}

.Brandedproperty {
  position: relative;
}

.open-menu {
  display: none;
}

.close {
  display: none;
}
.nav-content {
    li a{
        color: white;
    }
}

@media (max-width: 1400px) {
  .Branded-h h2 {
    font-size: 65px;
  }

  .pr-content h3 {
    /* min-height: 68px; */
  }
}

@media (max-width: 1200px) {
  .img-pr>img {
    height: 200px;
  }

  .pr-content h3 {
    /* min-height: 68px; */
    font-size: 24px;
  }

  .Branded-h h2 {
    font-size: 55px;
  }
}




@media (max-width: 992px) {
  .open-menu {
    display: block;
  }

  .close {
    display: block;
  }

  .top-email {
    font-size: 14px;
  }

  .top-email img {
    width: 23px;
  }

  .topright_nav ul {
    font-size: 14px;
    gap: 11px;
  }

  .topnav-call {
    font-size: 14px;
    padding-left: 15px;
  }

  .topright_nav {
    gap: 17px;
  }

  .nav-content {
    position: fixed;
    background: black;
    height: 100%;
    top: 0px;
    right: -300px;
    width: 300px;
    flex-direction: column;
    z-index: 11;
    justify-content: start;
    padding-top: 90px;
    gap: 40px;
    padding-left: 0px;
    transition: 0.5s all;
  }

  .nav-content {
    li {
      color: white;
      cursor: pointer;
    }
  }

  .close {
    position: absolute;
    top: 9px;
    right: 12px;
    font-size: 25px;
  }

  .open-menu {
    display: block;
    margin-left: auto;
    /* text-align: end; */
    width: fit-content;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }

  ul.nav-content.active {
    right: 0px;
  }
    .location-div p {
        font-size: 12px;
    }

    .location-filter {
        select {
            font-size: 12px;
        }
    }

    .serach-locationbtn {
        padding: 7px 15px;
    }
  
}

@media (max-width: 768px) {
  .top-email {
    display: none;
  }
  .hero-content h1{
    font-size: 47px;
  }
  .hero-content p {
    color: white;
    text-align: center;
    padding: 0px 15px;
}

  .location-div {
        width: 100%;
        border: none;
        border-bottom: 1px solid #CFD3D6;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .location-filter {
        flex-direction: column;
    }

    .location-div p {
        text-align: center;
        font-size: 16px;
    }

    .location-filter {
        select {
            font-size: 16px;
            margin: auto;
        }
    }
    .footer-col{
      margin-bottom: 20px;
    }
}
@media (max-width: 575px) {
      .hero-content h1 {
        font-size: 40px;
    }
    #myTab{
      width: 100%;
      justify-content: center;
      li{
        width: 48%;
        button{
          width: 100%;
        }
      }
    }
    .latest-h h2 {
    font-size: 35px;
}
    .Branded-h h2 {
        font-size: 35px;
    }
    .branded-ventor{
      width: 100%;
    }
    .propertice-col {
    h2 {
        font-size: 35px;
        /* font-weight: 600; */
    }
}
.por-sw{
  margin-top: -20px!important;
}
.slider--branded {
    .next-btn {
        right: 0px;
    }
}
.slider--branded {
    .prev-btn {
        left: 0px;
    }
}
    .img-pr>img {
        height: 250px;
    }
    .Branded-h p{
      margin-top: 0px;
    }
    .Branded-h{
      margin-bottom: 30px;
    }
    .next-btn, .prev-btn{
      width: 40px!important;
      height: 40px!important;
      font-size: 18px!important;
    }
}